:root {
    --red: #f53b57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s ease-out;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main,
section {
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 11rem;
    padding-bottom: 9rem;
}

.background {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 3rem;
    border-radius: 5rem;
    background-color: var(--red);
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}

.btn:hover {
    background-color: #333;
}

.up-and-down::after,
.up-and-down::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 10rem;
    width: 100%;
    background-size: cover;
}

.up-and-down::before {
    background: url(../images/img-top.png) no-repeat;
    top: -6rem;
}

.up-and-down::after {
    background: url(../images/img-down.png) no-repeat;
    bottom: -6rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 10000;
    padding: 1.5rem 7%;
    padding-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 2.5rem;
    color: #333;
}

header .logo i {
    padding-right: 0.5rem;
    color: var(--red);
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: #333;
}

header .navbar a:hover {
    color: var(--red);
}

.home {
    display: flex;
    align-items: center;
}

.home .content h1 {
    font-size: 5rem;
    color: var(--red);
}

.home .content h3 {
    font-size: 3rem;
    color: #333;
}

.home .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.home .image img {
    width: 36vw;
    position: relative;
    top: -9rem;
}

#menu-bars {
    font-size: 3rem;
    border: .1rem solid #333;
    color: #333;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    display: none;
}

.features {
    display: flex;
    position: relative;
}

.features .stick {
    padding: 0 2rem;
}

.features .box-container .title {
    font-size: 3.5rem;
    color: var(--red);
    padding: 5rem 0;
}

.features .box-container .box {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.features .box-container .box img {
    height: 6rem;
    width: 6rem;
    margin: 2.5rem;
}

.features .box-container .box .info h3 {
    font-size: 2.5rem;
    color: #333;
}

.features .box-container .box .info p {
    font-size: 1.7rem;
    color: #666;
}

.features .box-container:first-child .box {
    flex-flow: row-reverse;
}

.features .box-container:first-child {
    text-align: right;
}

/* Breakpoints */
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem 3%;
        padding-bottom: 6rem;
    }

    main,
    section {
        padding: 0 3%;
        padding-top: 11rem;
        padding-bottom: 9rem;
    }
}

@media (max-width:768px) {
    #menu-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 70%;
        left: 0;
        right: 0;
        height: calc(100vh - 70%);
        border-top: .2rem solid #333;
        background-image: url(../images/card-bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.toggle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        font-size: 2.5rem;
        margin: 2rem 0;
        display: block;
        text-align: center;
    }

    .home .image img {
        display: none;
    }

    .home .content {
        text-align: center;
    }

    .home .content h1 {
        font-size: 3.5rem;
    }

    .home .content h3 {
        font-size: 2.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .features {
        flex-flow: column;
    }

    .features .stick {
        display: none;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .features .box-container,
    .box-container:first-child {
        text-align: center;
    }

    .features .box-container .box,
    .box-container:first-child .box {
        flex-flow: column;
    }
}